*.c
*.o
*.la
*.lo
*.*~
*.swp
*.stamp*

Makefile
Makefile.in
aclocal.m4
cfg-0.1.pc
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

autom4te.cache
.deps
.libs

cfg/Cfg-0.1.gir
cfg/Cfg-0.1.typelib
cfg/cfg-0.1.vapi
cfg/cfg-internals-0.1.vapi
cfg/cfg-internals.h
cfg/cfg.h
cfg/Makefile
cfg/Makefile.in

docs/build
docs/cfg-0.1

m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

tests/tests
